
:root {
    --swiper-theme-color: #ff834b !important;
    --swiper-pagination-progressbar-size: 7px;
}

@font-face {
    font-family: "NeueMontreal";
    src: url("/fonts/PPNeueMontreal-Thin.otf") format("opentype");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "NeueMontreal";
    src: url("/fonts/PPNeueMontreal-Book.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "NeueMontreal";
    src: url("/fonts/PPNeueMontreal-Book.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "NeueMontreal";
    src: url("/fonts/PPNeueMontreal-Italic.otf") format("opentype");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "NeueMontreal";
    src: url("/fonts/PPNeueMontreal-Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "NeueMontreal";
    src: url("/fonts/PPNeueMontreal-SemiBolditalic.otf") format("opentype");
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "NeueMontreal";
    src: url("/fonts/PPNeueMontreal-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

html {
    @apply antialiased scroll-smooth;
}

body {
    @apply bg-off-white;
}

p {
    @apply text-lg font-medium mb-6;
}

/* Indent content to match container width */

[data-push="left"] {
    padding-left: max(1rem, (100vw - 90rem) / 2) !important;
}

[data-push="right"] {
    padding-right: max(1rem, (100vw - 90rem) / 2) !important;
}

/* Style inline content from WordPress */

.content img {
    @apply my-[4.5rem];
}

.content > p:first-child {
    @apply text-2xl md:text-3xl/[2.5rem] mb-16 md:mb-[5.5rem];
}

/* Blog categories */

.categories--item:first-child {
    @apply lg:w-1/4;
}

.categories--item:nth-child(2) {
    @apply lg:w-1/4;
}

.categories--item:last-child {
    @apply lg:w-1/2;
}

/* General styles for SwiperJS */

.swiper-horizontal>.swiper-pagination-progressbar,
.swiper-pagination-progressbar.swiper-pagination-horizontal {
    @apply !top-auto bottom-0;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    @apply rounded-r-full;
}

#video-swiper .swiper-pagination-progressbar {
    @apply bg-white rounded-full h-[3px];
}

#video-swiper .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    @apply rounded-full;
}

/* View Transitions API */

/* .header {
    view-transition-name: header;
}

.footer {
    view-transition-name: footer;
}

::view-transition-old(header),
::view-transition-new(header) {
    mix-blend-mode: normal;
}

::view-transition-old(footer),
::view-transition-new(footer) {
    mix-blend-mode: normal;
} */

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="search"],
textarea {
    @apply !text-black !font-medium !text-xl !bg-white !px-9 !py-6 !w-full;
}

::placeholder {
    @apply !text-black;
}

input[type="submit"] {
    @apply bg-primary-orange text-white text-2xl sm:text-[2.125rem] font-medium flex items-center gap-5 sm:gap-[4.75rem] px-5 md:px-11 py-3 min-h-[5rem] sm:min-h-[6.25rem] w-full hover:bg-primary-purple transition-colors duration-500 ease-in-out text-center justify-center cursor-pointer;
}

label {
    @apply !font-medium !text-black !text-lg;
}