---
import Layout from "../layouts/Layout.astro";
import Container from "../components/Container.astro";
import CategoryFilters from "../components/CategoryFilters.astro";
import Posts from "../components/react/Posts";
---

<Layout title="Blog | The Estate" description="" nav>
    <section class="pt-24 pb-36">
        <Container>
            <CategoryFilters />
            <Posts client:load />
        </Container>
    </section>
</Layout>
