---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Quote from '../components/Quote.astro';
import TextCTA from '../components/TextCTA.astro';
import Lodges from '../components/Lodges.astro';
import FeaturedSlider from '../components/FeaturedSlider.astro';
import ImageCTAGrid from '../components/ImageCTAGrid.astro';
---

<Layout title="The Estate">
	<main>
		<Hero/>
		<TextCTA text="Immerse your family in views of this unique part of the World Heritage Site, a favourite for nature lovers and outdoor explorers." button buttonText="View all lodges" buttonURL="#" />
		<FeaturedSlider 
			heading="Outdoor explorers"
			subheading="A day at the Lakeview lodge"
			description="From the cozy lodge to the thrill of the lake, your adventure awaits on The Estate at the southern end of Lake Ullswater." />
		<Lodges
			heading="Lakeview lodges"
			description="Our premium lodges set on lakeside fields with exceptional views of Lake Ullswater and the fells that surround us. The properties benefit from large open living spaces with high end fixtures and fittings to make your stay comfortable. Set in lakeside fields, you will be immersed in views both inside and out of these brand new properties. Each have large private decks overlooking the lake and fells."
			lodges={["Kestrel", "Osprey", "Buzzard"]}
		/>
		<Lodges
			heading="Pine lodges"
			description="More spacious than our chalets, lodges are a great choice for large family groups. The 3 bedroom format works well for accommodating extended family,  friends, or children of different age groups. Benefitting from their proximity to Waterfall Woods, lodge guests frequently report badger and red squirrel sightings from their windows and verandas. And with red deer and over 50 different species of birds regularly sighted, the accommodation is a delight for nature lovers."
			lodges={["The Hollow", "The Sett", "The Drey"]}
		/>
		<Quote 
			quote="“What a fabulous place to stay for walking and cycling in the Ullswater lake area. Chalets are well equipped, comfortable and very homely, location is great, but what really makes it stand out are the staff”"
			name="Sarah - Coventry"
		/>
		<ImageCTAGrid />
	</main>
</Layout>
