---
import Layout from "../layouts/Layout.astro";
import Container from "../components/Container.astro";
import { Picture } from "@astrojs/image/components";

import blogHero from "../images/blog-hero-001.jpg";
import inlineImage from "../images/image-post-001.jpg";
import RelatedArticles from "../components/RelatedArticles.astro";
---

<Layout title="The Estate" nav>
    <main>
        <section>
            <div class="bg-grey-light">
                <Container>
                    <div
                        class="flex flex-col lg:flex-row lg:items-end lg:justify-between gap-10 lg:min-h-[15.25rem] py-14"
                    >
                        <div>
                            <div class="font-medium text-xl mb-3.5">
                                Activities
                            </div>
                            <h1
                                class="font-medium text-4xl md:text-[3.125rem]/[3.625rem]"
                            >
                                Sailing across Lake Ullswater
                            </h1>
                        </div>

                        <div class="flex items-center gap-5">
                            <span>Share via</span>
                            <div class="flex items-center gap-2.5">
                                <span>
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        width="30"
                                        height="30"
                                        viewBox="0 0 30 30"
                                    >
                                        <g
                                            id="Group_43"
                                            data-name="Group 43"
                                            transform="translate(-144.27 -713.996)"
                                        >
                                            <g
                                                id="Ellipse_189"
                                                data-name="Ellipse 189"
                                                transform="translate(144.27 713.996)"
                                                fill="none"
                                                stroke="coral"
                                                stroke-width="1"
                                            >
                                                <circle
                                                    cx="15"
                                                    cy="15"
                                                    r="15"
                                                    stroke="none"></circle>
                                                <circle
                                                    cx="15"
                                                    cy="15"
                                                    r="14.5"
                                                    fill="none"></circle>
                                            </g>
                                            <path
                                                id="twitter_1_"
                                                d="M1552.124,3455.76a4.3,4.3,0,0,1-.89.3,2.844,2.844,0,0,0,.73-1.192h0a.149.149,0,0,0-.089-.187.175.175,0,0,0-.115.009h0a5.02,5.02,0,0,1-1.353.57.278.278,0,0,1-.089.009.4.4,0,0,1-.24-.089,2.755,2.755,0,0,0-1.834-.712,2.7,2.7,0,0,0-.881.142,2.731,2.731,0,0,0-1.816,1.985,2.971,2.971,0,0,0-.062,1.05.142.142,0,0,1-.027.08.086.086,0,0,1-.08.035h-.009a7.184,7.184,0,0,1-5-2.741h0a.152.152,0,0,0-.2-.027.088.088,0,0,0-.036.045h0a2.893,2.893,0,0,0,.454,3.453,2.614,2.614,0,0,1-.632-.249h0a.137.137,0,0,0-.2.053.131.131,0,0,0-.018.08h0a2.861,2.861,0,0,0,1.62,2.625h-.062a2.8,2.8,0,0,1-.472-.044h0a.138.138,0,0,0-.169.116.194.194,0,0,0,.009.071h0a2.8,2.8,0,0,0,2.2,1.94,5.074,5.074,0,0,1-2.865.89h-.32a.212.212,0,0,0-.2.16.221.221,0,0,0,.107.25,7.443,7.443,0,0,0,3.827,1.059,7.583,7.583,0,0,0,3.275-.712,7.2,7.2,0,0,0,2.394-1.833,8.23,8.23,0,0,0,1.967-5.268v-.045a.472.472,0,0,1,.178-.374,5.6,5.6,0,0,0,1.1-1.237h0a.151.151,0,0,0-.036-.2.174.174,0,0,0-.16-.009Z"
                                                transform="translate(-1386.633 -2730.474)"
                                                fill="#ff834b"></path>
                                        </g>
                                    </svg>
                                </span>

                                <span>
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        width="30"
                                        height="30"
                                        viewBox="0 0 30 30"
                                    >
                                        <g
                                            id="Group_44"
                                            data-name="Group 44"
                                            transform="translate(-184.232 -713.996)"
                                        >
                                            <g
                                                id="Ellipse_192"
                                                data-name="Ellipse 192"
                                                transform="translate(184.232 713.996)"
                                                fill="none"
                                                stroke="coral"
                                                stroke-width="1"
                                            >
                                                <circle
                                                    cx="15"
                                                    cy="15"
                                                    r="15"
                                                    stroke="none"></circle>
                                                <circle
                                                    cx="15"
                                                    cy="15"
                                                    r="14.5"
                                                    fill="none"></circle>
                                            </g>
                                            <g
                                                id="Group_3_1_"
                                                transform="translate(195.271 720.996)"
                                            >
                                                <path
                                                    id="Path_1_1_"
                                                    d="M426.768,1042.653v-1.91a.969.969,0,0,1,.992-.95h.992v-2.384h-1.984a2.911,2.911,0,0,0-2.965,2.859v2.384H421.82v2.384H423.8v7.628h2.965v-7.628h1.984l.992-2.384Z"
                                                    transform="translate(-421.82 -1037.409)"
                                                    fill="#ff834b"></path>
                                            </g>
                                        </g>
                                    </svg>
                                </span>
                            </div>
                        </div>
                    </div>
                </Container>
            </div>

            <div>
                <Picture
                    src={blogHero}
                    widths={[768, 1024]}
                    aspectRatio="1600:642"
                    sizes="(max-width: 768px) 100vw, 1024px"
                    alt="Person on a hike"
                    class="w-full h-full object-cover"
                />
            </div>
        </section>

        <section class="py-16 md:py-24 bg-white">
            <Container>
                <div
                    class="grid lg:grid-cols-[minmax(0,_auto)_minmax(20.75rem,_20.75rem)] gap-16 xl:gap-36"
                >
                    <div class="max-w-2xl lg:max-w-none">
                        <div class="mb-16 md:mb-[5.5rem]">
                            <p class="text-2xl md:text-3xl/[2.5rem]">
                                You will be greeted from floor to ceiling with a
                                view of lake and fells, giving you the perfect
                                setting to your stay. Kestrel offers the perfect
                                balance of comfort and family life in one of the
                                most beautiful parts of England.
                            </p>
                        </div>

                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit, sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua. Ut enim ad minim veniam, quis
                            nostrud exercitation ullamco laboris nisi ut aliquip
                            ex ea commodo consequat. Duis aute irure dolor in
                            reprehenderit in voluptate velit esse cillum dolore
                            eu fugiat nulla pariatur. Excepteur sint occaecat
                            cupidatat non proident, sunt in culpa qui officia
                            deserunt mollit anim id est laborum.
                        </p>

                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit, sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua. Ut enim ad minim veniam, quis
                            nostrud exercitation ullamco laboris nisi ut aliquip
                            ex ea commodo consequat. Duis aute irure dolor in
                            reprehenderit in voluptate velit esse cillum dolore
                            eu fugiat nulla pariatur. Excepteur sint occaecat
                            cupidatat non proident, sunt in culpa qui officia
                            deserunt mollit anim id est laborum.
                        </p>

                        <Picture
                            src={inlineImage}
                            widths={[768, 1024]}
                            aspectRatio="936:540"
                            sizes="(max-width: 768px) 100vw, 1024px"
                            alt="Person on a hike"
                            class="my-16"
                        />

                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit, sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua. Ut enim ad minim veniam, quis
                            nostrud exercitation ullamco laboris nisi ut aliquip
                            ex ea commodo consequat. Duis aute irure dolor in
                            reprehenderit in voluptate velit esse cillum dolore
                            eu fugiat nulla pariatur. Excepteur sint occaecat
                            cupidatat non proident, sunt in culpa qui officia
                            deserunt mollit anim id est laborum.
                        </p>
                    </div>

                    <div class="max-w-2xl lg:max-w-none">
                        <div class="bg-grey-light px-8 py-9">
                            <h2 class="font-medium text-3xl mb-8">
                                St Patrick’s boat landing
                            </h2>
                            <p class="font-medium text-base">
                                Explore breathtaking views of Ullswater at your
                                own pace with the hire of one of our self drive
                                motor boats, rowing boats or canoes.
                            </p>
                            <p class="font-medium text-base m-0">
                                Whether you’re seeking adventure or a piece of
                                tranquility, we have options for all!
                            </p>
                        </div>
                        <a
                            class="bg-orange-400 text-white flex items-center gap-5 justify-between sm:gap-[4.75rem] px-6 py-7 w-full"
                            href="#"
                        >
                            <span class="text-3xl">Book online</span>
                            <span class="block w-4 h-4">
                                <svg
                                    viewBox="0 0 17.978 17.978"
                                    astro-icon="arrow"
                                    ><g
                                        fill="none"
                                        stroke="currentColor"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        stroke-width="2"
                                        ><path
                                            d="m1.414 16.564 15.15-15.15"
                                            data-name="Line 1"></path><path
                                            d="M1.414 1.414h15.18v15.18"
                                            data-name="Path 1"></path></g
                                    ></svg
                                >
                            </span>
                        </a>
                    </div>
                </div>
            </Container>
        </section>
        <RelatedArticles />
    </main>
</Layout>
