---
const { text, url, arrow } = Astro.props;
---

 <a class="rounded-full bg-primary-orange text-white flex items-center gap-5 sm:gap-[4.75rem] px-5 py-3 min-h-[3.125rem] sm:min-w-[13.125rem] hover:bg-primary-orange/90 transition-colors duration-500 ease-in-out group" href={url}>
    <span>{text}</span>
    {arrow && <span class="group-hover:rotate-45 duration-500 ease-in-out">
        <svg xmlns="http://www.w3.org/2000/svg" width="17.978" height="17.978" viewBox="0 0 17.978 17.978">
            <g id="arrow-up-right" transform="translate(1.414 1.414)">
                <line id="Line_1" data-name="Line 1" y1="15.15" x2="15.15" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                <path id="Path_1" data-name="Path 1" d="M0,0H15.18V15.18" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
            </g>
        </svg>
    </span>}
</a>