---
import { Icon } from "astro-icon";

const { text, url, arrow, arrowDown, mono } = Astro.props;
---

<a
	class={`rounded-full flex items-center justify-between gap-5 sm:gap-[4.75rem] px-5 py-3 min-h-[3.125rem] sm:min-w-[13.125rem] transition-colors duration-500 ease-in-out group font-medium ${
		mono
			? "bg-white text-black border border-solid border-black"
			: "bg-primary-orange text-white hover:bg-primary-purple"
	}`}
	href={url}
>
	<span>{text}</span>
	{
		arrow && (
			<span
				class={`group-hover:rotate-45 duration-500 ease-in-out block w-4 h-4 ${
					arrowDown && "rotate-90 group-hover:rotate-[135deg]"
				}`}
			>
				<Icon name="arrow" />
			</span>
		)
	}
</a>
