---
import Container from "./Container.astro";
import Lodges from "./Lodges.astro";
import Accordion from "./react/Accordion";
const { data } = Astro.props;
---

<div class="flex flex-col gap-8 md:gap-20 py-8 md:py-20">
	{
		data.map((item, i) => {
			switch (item.acf_fc_layout) {
				case "text":
					return (
						<Container>
							<Fragment set:html={item.text_text} />
						</Container>
					);
				case "accordion":
					return (
						<Container>
							{item.tabs_tabs.map((tab, i) => (
								<Accordion
									title={tab.tab_heading}
									content={tab.tab_content}
									client:load
								/>
							))}
						</Container>
					);
				case "featured_accommodation":
					return <Lodges items={item.featured_accommodation} />;
				default:
					return null; // Render a default component or return null for unknown layout types
			}
		})
	}
</div>
