---
import Container from "./Container.astro";
---

<footer>
    <div class="bg-primary-purple text-white pt-20 pb-[7.5rem]">
        <Container>
                <div class="grid gap-10 md:grid-cols-2 md:gap-44">
                <div class="flex flex-col justify-between">
                    <p class="text-3xl">An estate full of adventure. Come and explore everything we 
                    have to offer, from our amazing landscape to our preserved 
                    beauty wildlife a place for everyone and thing to thrive.</p>

                    <div class="flex flex-col gap-4">
                        <p>Tel: +44 (0) 17684 82308</p>
                        <p>Email: mail@the-estate.co.uk</p>
                        <p>Address: The Estate, Glenridding, Penrith CA11 0PJ</p>
                    </div>
                </div>

                <div class="grid grid-cols-2">
                    <div>
                        <h3 class="mb-10 text-3xl">Sitemap</h3>
                        <ul>
                            <li>Accommodation</li>
                            <li>Reviews</li>
                            <li>Volunteer</li>
                            <li>About</li>
                            <li>My Account</li>
                            <li>Privacy policy</li>
                            <li>Terms & Conditions</li>
                            <li>Cookie policy</li>
                        </ul>
                    </div>

                    <div>
                        <h3 class="mb-10 text-3xl">Social</h3>
                        <ul>
                            <li>Facebook</li>
                            <li>Instagram</li>
                            <li>TikTok</li>
                        </ul>
                    </div>
                </div>
            </div>
        </Container>
    </div>

    <div class="py-7">
        <Container>
                <p class="font-medium text-[#999999] text-[0.938rem]">The Estate reg. company no. 02768297 is a wholely owned subsidiary of YMCA North Tyneside. (Charity No: 1011495, Provider of Social Housing No: 4793, Ofsted Registration: EY555165)</p>
        </Container>
    </div>
</footer>