---
import Button from "./Button.astro";
import Container from "./Container.astro";
import Logo from "./Logo.astro";
---
<header class="bg-white py-[1.875rem]">
    <Container>
        <div class="flex items-center justify-between gap-4">
            <Logo />
            <Button text="Book now" url="#" arrow />
        </div>
    </Container>
</header>