---
import { Icon } from "astro-icon";
import { Picture } from "@astrojs/image/components";

const { heading } = Astro.props;

import hero001 from "../images/hero-001.jpg";
import hero002 from "../images/hero-002.jpg";
---

<section class="grid sm:grid-cols-2 relative h-[75vh]">
	<div class="bg-slate-700 relative group overflow-hidden cursor-pointer">
		<Picture
			src={hero001}
			widths={[768, 1024]}
			aspectRatio="809:887"
			sizes="(max-width: 768px) 100vw, 1024px"
			alt="A man standing on a mountain"
			class="object-cover w-full h-full group-hover:scale-110 duration-[3000ms] transition-transform block"
		/>
		<a
			class="bg-orange-400 text-white flex items-center gap-5 justify-between sm:gap-[4.75rem] px-5 md:px-11 py-3 min-h-[5rem] sm:min-h-[6.25rem] w-full absolute bottom-0 group-hover:bg-primary-purple transition-colors duration-500 ease-in-out"
			href="#"
		>
			<span class="text-2xl sm:text-[2.125rem]">Book now</span>
			<span
				class="block w-6 h-6 sm:w-8 sm:h-8 group-hover:rotate-45 duration-500 ease-in-out"
			>
				<Icon name="arrow" />
			</span>
		</a>
	</div>

	<div class="bg-slate-600 hidden sm:block group overflow-hidden">
		<Picture
			src={hero002}
			widths={[768, 1024]}
			aspectRatio="809:887"
			sizes="(max-width: 768px) 100vw, 1024px"
			alt="A boat on a lake"
			class="object-cover w-full h-full group-hover:scale-110 duration-[3000ms] transition-transform block"
		/>
	</div>

	<h1
		class="md:text-[3.125rem]/[2.5rem] text-white text-center left-0 right-0 text-4xl absolute top-1/2 -translate-y-1/2 px-10"
	>
		{heading}
	</h1>
</section>
