---
import hero001 from '../images/hero-001.jpg';
import hero002 from '../images/hero-002.jpg';
---
<section class="grid sm:grid-cols-2 relative h-[75vh]">

    <div class="bg-slate-700 relative group overflow-hidden">
        <img class="object-cover w-full h-full group-hover:scale-110 duration-[3000ms] transition-transform block" src={hero001} alt="A man standing on a mountain">
        <a class="bg-orange-400 text-white flex items-center gap-5 justify-between sm:gap-[4.75rem] px-5 py-3 min-h-[6.25rem] w-full absolute bottom-0" href="#">
            <span class="text-[2.125rem]">Book now</span>
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="17.978" height="17.978" viewBox="0 0 17.978 17.978">
                    <g id="arrow-up-right" transform="translate(1.414 1.414)">
                        <line id="Line_1" data-name="Line 1" y1="15.15" x2="15.15" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                        <path id="Path_1" data-name="Path 1" d="M0,0H15.18V15.18" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                    </g>
                </svg>
            </span>
        </a>
    </div>

    <div class="bg-slate-600 hidden sm:block group overflow-hidden">
        <img class="object-cover w-full h-full group-hover:scale-110 duration-[3000ms] transition-transform block" src={hero002} alt="A boat on a lake">
    </div>

    <h1 class="text-[3.125rem] text-white text-center left-0 right-0 text-4xl absolute top-1/2 -translate-y-1/2">A Lodge full of adventure</h1>

</section>