---
import image001 from '../images/image-cta-001.jpg';
import image002 from '../images/image-cta-002.jpg';
import image003 from '../images/image-cta-003.jpg';
---

<section>
    <div class="flex flex-col md:flex-row items-stretch h-[17.813rem]">

        <div class="bg-black flex-auto text-white text-3xl font-medium relative">
            <img class="w-full h-full object-cover absolute z-10" src={image001} alt="">
            <div class="flex justify-between gap-4 items-center p-4 relative z-20">
                <span>Explore</span>
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="17.978" height="17.978" viewBox="0 0 17.978 17.978">
                        <g id="arrow-up-right" transform="translate(-5.586 -5.586)">
                            <line id="Line_1" data-name="Line 1" y1="15.15" x2="15.15" transform="translate(7 7)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                            <path id="Path_1" data-name="Path 1" d="M7,7H22.18V22.18" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                        </g>
                    </svg>
                </span>
            </div>
        </div>

        <div class="bg-black flex-auto text-white text-3xl font-medium relative">
            <img class="w-full h-full object-cover absolute z-10" src={image002} alt="">
            <div class="flex justify-between gap-4 items-center p-4 relative z-20">
                <span>Memories</span>
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="17.978" height="17.978" viewBox="0 0 17.978 17.978">
                        <g id="arrow-up-right" transform="translate(-5.586 -5.586)">
                            <line id="Line_1" data-name="Line 1" y1="15.15" x2="15.15" transform="translate(7 7)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                            <path id="Path_1" data-name="Path 1" d="M7,7H22.18V22.18" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                        </g>
                    </svg>
                </span>
            </div>
        </div>

        <div class="bg-black flex-auto w-2/5 text-white text-3xl font-medium relative">
            <img class="w-full h-full object-cover absolute z-10" src={image003} alt="">
            <div class="flex justify-between gap-4 items-center p-4 relative z-20">
                <span>Activies</span>
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="17.978" height="17.978" viewBox="0 0 17.978 17.978">
                        <g id="arrow-up-right" transform="translate(-5.586 -5.586)">
                            <line id="Line_1" data-name="Line 1" y1="15.15" x2="15.15" transform="translate(7 7)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                            <path id="Path_1" data-name="Path 1" d="M7,7H22.18V22.18" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                        </g>
                    </svg>
                </span>
            </div>
        </div>

    </div>
</section>