---
import image001 from "../images/image-cta-001.jpg";
import image002 from "../images/image-cta-002.jpg";
import image003 from "../images/image-cta-003.jpg";

import { Picture } from "@astrojs/image/components";
---

<section>
	<div class="flex flex-col md:flex-row md:items-stretch md:h-[17.813rem]">
		<div
			class="bg-black flex-auto text-white text-3xl font-medium relative after:block after:bg-black/10 after:absolute after:top-0 after:bottom-0 after:left-0 after:right-0 after:z-20 group hover:after:bg-transparent after:transition-colors after:duration-500 after:ease-in-out cursor-pointer overflow-hidden h-[12rem] md:h-full"
		>
			<Picture
				src={image001}
				widths={[768, 1024]}
				aspectRatio="435:284"
				sizes="(max-width: 768px) 100vw, 1024px"
				alt="Person on a hike"
				class="w-full h-full object-cover absolute z-10 group-hover:scale-105 duration-1000 ease-in-out"
			/>
			<div
				class="flex justify-between gap-4 items-center p-4 relative z-30"
			>
				<span>Explore</span>
				<span
					class="shrink-0 group-hover:rotate-45 duration-500 ease-in-out"
				>
					<svg
						xmlns="http://www.w3.org/2000/svg"
						width="17.978"
						height="17.978"
						viewBox="0 0 17.978 17.978"
					>
						<g
							id="arrow-up-right"
							transform="translate(-5.586 -5.586)"
						>
							<line
								id="Line_1"
								data-name="Line 1"
								y1="15.15"
								x2="15.15"
								transform="translate(7 7)"
								fill="none"
								stroke="#fff"
								stroke-linecap="round"
								stroke-linejoin="round"
								stroke-width="2"></line>
							<path
								id="Path_1"
								data-name="Path 1"
								d="M7,7H22.18V22.18"
								fill="none"
								stroke="#fff"
								stroke-linecap="round"
								stroke-linejoin="round"
								stroke-width="2"></path>
						</g>
					</svg>
				</span>
			</div>
		</div>

		<div
			class="bg-black flex-auto text-white text-3xl font-medium relative after:block after:bg-black/10 after:absolute after:top-0 after:bottom-0 after:left-0 after:right-0 after:z-20 group hover:after:bg-transparent after:transition-colors after:duration-500 after:ease-in-out cursor-pointer overflow-hidden h-[12rem] md:h-full"
		>
			<Picture
				src={image002}
				widths={[768, 1024]}
				aspectRatio="435:284"
				sizes="(max-width: 768px) 100vw, 1024px"
				alt="People enjoying a BBQ"
				class="w-full h-full object-cover absolute z-10 group-hover:scale-105 duration-1000 ease-in-out"
			/>
			<div
				class="flex justify-between gap-4 items-center p-4 relative z-30"
			>
				<span>Memories</span>
				<span
					class="shrink-0 group-hover:rotate-45 duration-500 ease-in-out"
				>
					<svg
						xmlns="http://www.w3.org/2000/svg"
						width="17.978"
						height="17.978"
						viewBox="0 0 17.978 17.978"
					>
						<g
							id="arrow-up-right"
							transform="translate(-5.586 -5.586)"
						>
							<line
								id="Line_1"
								data-name="Line 1"
								y1="15.15"
								x2="15.15"
								transform="translate(7 7)"
								fill="none"
								stroke="#fff"
								stroke-linecap="round"
								stroke-linejoin="round"
								stroke-width="2"></line>
							<path
								id="Path_1"
								data-name="Path 1"
								d="M7,7H22.18V22.18"
								fill="none"
								stroke="#fff"
								stroke-linecap="round"
								stroke-linejoin="round"
								stroke-width="2"></path>
						</g>
					</svg>
				</span>
			</div>
		</div>

		<div
			class="bg-black flex-auto lg:w-2/5 text-white text-3xl font-medium relative after:block after:bg-black/10 after:absolute after:top-0 after:bottom-0 after:left-0 after:right-0 after:z-20 group hover:after:bg-transparent after:transition-colors after:duration-500 after:ease-in-out cursor-pointer overflow-hidden h-[12rem] md:h-full"
		>
			<Picture
				src={image003}
				widths={[768, 1024]}
				aspectRatio="733:284"
				sizes="(max-width: 768px) 100vw, 1024px"
				alt="Two people boating on a lake"
				class="w-full h-full object-cover absolute z-10 group-hover:scale-105 duration-1000 ease-in-out"
			/>
			<div
				class="flex justify-between gap-4 items-center p-4 relative z-20"
			>
				<span>Activities</span>
				<span
					class="shrink-0 group-hover:rotate-45 duration-500 ease-in-out"
				>
					<svg
						xmlns="http://www.w3.org/2000/svg"
						width="17.978"
						height="17.978"
						viewBox="0 0 17.978 17.978"
					>
						<g
							id="arrow-up-right"
							transform="translate(-5.586 -5.586)"
						>
							<line
								id="Line_1"
								data-name="Line 1"
								y1="15.15"
								x2="15.15"
								transform="translate(7 7)"
								fill="none"
								stroke="#fff"
								stroke-linecap="round"
								stroke-linejoin="round"
								stroke-width="2"></line>
							<path
								id="Path_1"
								data-name="Path 1"
								d="M7,7H22.18V22.18"
								fill="none"
								stroke="#fff"
								stroke-linecap="round"
								stroke-linejoin="round"
								stroke-width="2"></path>
						</g>
					</svg>
				</span>
			</div>
		</div>
	</div>
</section>
