---
import Container from "./Container.astro";
import ImageCarousel from "./ImageCarousel.astro";

import carousel001 from "../images/lodge-carousel-001.jpg";
---

<section class="py-20">
    <Container>
        <div
            class="grid md:grid-cols-2 gap-10 lg:gap-20 xl:gap-36 lg:grid-cols-[minmax(0,_30.25rem)_minmax(0,_auto)]"
        >
            <div>
                <h2 class="font-medium text-3xl mb-10">
                    Additional information
                </h2>
                <ul class="text-xl mb-14">
                    <li
                        class="flex justify-between gap-4 items-end border-b border-white py-6"
                    >
                        Lodge information
                        <span>
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="17.978"
                                height="17.978"
                                viewBox="0 0 17.978 17.978"
                            >
                                <g
                                    id="arrow-up-right"
                                    transform="translate(23.564 -5.586) rotate(90)"
                                >
                                    <line
                                        id="Line_1"
                                        data-name="Line 1"
                                        y1="15.15"
                                        x2="15.15"
                                        transform="translate(7 7)"
                                        fill="none"
                                        stroke="#000"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        stroke-width="2"></line>
                                    <path
                                        id="Path_1"
                                        data-name="Path 1"
                                        d="M7,7H22.18V22.18"
                                        fill="none"
                                        stroke="#000"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        stroke-width="2"></path>
                                </g>
                            </svg>
                        </span>
                    </li>
                    <li
                        class="flex justify-between gap-4 items-end border-b border-white py-6"
                    >
                        General property information
                        <span>
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="17.978"
                                height="17.978"
                                viewBox="0 0 17.978 17.978"
                            >
                                <g
                                    id="arrow-up-right"
                                    transform="translate(23.564 -5.586) rotate(90)"
                                >
                                    <line
                                        id="Line_1"
                                        data-name="Line 1"
                                        y1="15.15"
                                        x2="15.15"
                                        transform="translate(7 7)"
                                        fill="none"
                                        stroke="#000"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        stroke-width="2"></line>
                                    <path
                                        id="Path_1"
                                        data-name="Path 1"
                                        d="M7,7H22.18V22.18"
                                        fill="none"
                                        stroke="#000"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        stroke-width="2"></path>
                                </g>
                            </svg>
                        </span>
                    </li>
                    <li
                        class="flex justify-between gap-4 items-end border-b border-white py-6"
                    >
                        Items provided
                        <span>
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="17.978"
                                height="17.978"
                                viewBox="0 0 17.978 17.978"
                            >
                                <g
                                    id="arrow-up-right"
                                    transform="translate(23.564 -5.586) rotate(90)"
                                >
                                    <line
                                        id="Line_1"
                                        data-name="Line 1"
                                        y1="15.15"
                                        x2="15.15"
                                        transform="translate(7 7)"
                                        fill="none"
                                        stroke="#000"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        stroke-width="2"></line>
                                    <path
                                        id="Path_1"
                                        data-name="Path 1"
                                        d="M7,7H22.18V22.18"
                                        fill="none"
                                        stroke="#000"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        stroke-width="2"></path>
                                </g>
                            </svg>
                        </span>
                    </li>
                </ul>

                <p class="text-base">
                    An amazing lodge that sleeps up to 6 people. You will be
                    greeted from floor to ceiling with a view of lake and fells,
                    giving you the perfect setting to your stay. Kestrel offers
                    the perfect balance of comfort and family life in one of the
                    most beautiful parts of England.
                </p>

                <div class="mt-14">
                    <a
                        class="bg-orange-400 text-white flex items-center gap-5 justify-between sm:gap-[4.75rem] px-6 py-7 w-full"
                        href="#"
                    >
                        <span class="text-3xl">Book your stay</span>
                        <span class="block w-4 h-4">
                            <svg viewBox="0 0 17.978 17.978" astro-icon="arrow"
                                ><g
                                    fill="none"
                                    stroke="currentColor"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    ><path
                                        d="m1.414 16.564 15.15-15.15"
                                        data-name="Line 1"></path><path
                                        d="M1.414 1.414h15.18v15.18"
                                        data-name="Path 1"></path></g
                                ></svg
                            >
                        </span>
                    </a>
                </div>
            </div>

            <ImageCarousel />
        </div>
    </Container>
</section>
