---
import Container from "./Container.astro";
import Card from "./Card.astro";
---

<section class="bg-grey-light py-24">
    <Container>
        <h2 class="font-medium text-3xl mb-9">Related articles</h2>
        <div class="grid gap-10 md:gap-0 md:grid-cols-2 lg:grid-cols-3">
            <Card />
            <Card />
            <Card />
        </div>
    </Container>
</section>
