---
import { TwitterShareButton, FacebookShareButton } from "react-share";
import { Icon } from "astro-icon";

const shareUrl = "https://the-estate.co.uk/";
---

<div class="flex items-center gap-5">
    <span>Share via</span>
    <div class="flex items-center gap-2.5">
        <TwitterShareButton url={shareUrl}>
            <Icon
                className="w-8 h-8 hover:cursor-pointer text-primary-orange hover:text-primary-purple duration-500 ease-in-out"
                name="twitter"
            />
        </TwitterShareButton>
        <FacebookShareButton url={shareUrl} quote="TEST" hashtag="#test">
            <Icon
                className="w-8 h-8 hover:cursor-pointer text-primary-orange hover:text-primary-purple duration-500 ease-in-out"
                name="facebook"
            />
        </FacebookShareButton>
    </div>
</div>
