---
import QuoteSlider from "./react/QuoteSlider";

let res = await fetch(`${import.meta.env.API_URL}/wp-json/options/all`);
let items = await res.json();
---

<section class="bg-white mt-24">
	<QuoteSlider client:visible items={items} />
</section>
