---
import Button from "./Button.astro";
import Container from "./Container.astro";

const { text, button, buttonText, buttonURL } = Astro.props;
---

<section class="bg-white py-28">
	<Container>
		<div
			class="grid sm:grid-cols-[minmax(0,_53.25rem)_minmax(0,_auto)] gap-10 items-end"
		>
			<p class="text-3xl/10 m-0">{text}</p>
			<div class="sm:justify-self-end">
				{button && <Button text={buttonText} url={buttonURL} arrow />}
			</div>
		</div>
	</Container>
</section>
