---
import Button from "./Button.astro";
import Container from "./Container.astro";

export interface Props {
	text: string;
	button?: boolean;
	buttonText?: string;
	buttonURL?: string;
	styles?: string;
}

const { text, button, buttonText, buttonURL, styles } = Astro.props;
---

<section class={`py-16 md:py-28 ${styles && styles}`}>
	<Container>
		<div
			class="grid sm:grid-cols-[minmax(0,_53.25rem)_minmax(0,_auto)] gap-10 items-end"
		>
			<p class="text-3xl/10 m-0">{text}</p>
			<div class="sm:justify-self-end">
				{
					button && (
						<Button
							text={buttonText}
							url={buttonURL}
							arrow
							arrowDown
							mono
						/>
					)
				}
			</div>
		</div>
	</Container>
</section>
