---
import ModalNew from "../components/react/ModalNew";
import { Picture } from "@astrojs/image/components";

const { image, videoUrl } = Astro.props;
---

<div class="relative flex-grow">
    <div class="w-full h-full absolute left-0 top-0">
        <Picture
            src={image.url}
            widths={[400, 800, 1600]}
            aspectRatio="16:8"
            sizes="(max-width: 1600px) 100vw, 1600px"
            alt={image.alt}
            fit="cover"
            class="w-full h-full object-cover"
        />
    </div>
    <ModalNew url={videoUrl} client:visible />
</div>
