---
import { Icon } from "astro-icon";
import Container from "./Container.astro";
import Modal from "../components/react/Modal";
import VideoSwiper from "../components/react/VideoSwiper";

const { videoUrl, videoThumbnailUrl, videoThumbnailAlt, items } = Astro.props;
---

<section
	class="relative before:top-0 before:h-1/2 before:left-0 before:right-0 before:absolute before:bg-white"
>
	<Container>
		<div
			class="bg-[#522D43] text-white grid grid-cols-1 md:grid-cols-2 lg:grid-cols-[minmax(0,_4fr)_minmax(0,_3fr)] p-10 xl:py-[5.375rem] xl:px-[4.125rem] gap-10 xl:gap-20 relative"
		>
			<div
				class="aspect-[696/640] bg-black flex items-center justify-center relative"
			>
				<img
					class="object-cover w-full h-full"
					src={videoThumbnailUrl}
					alt={videoThumbnailAlt}
				/>
				<Modal url={videoUrl} client:load />
			</div>

			<VideoSwiper client:visible items={items} />

			<Icon
				class="hidden lg:block absolute -right-20 bottom-44 max-w-[77.375rem]"
				name="illustration-canoeing"
			/>
		</div>
	</Container>
</section>
